/* 
    Created on : Mar 8, 2016, 3:23:31 PM
    Author     : Carlos F. Meneses
*/

form {
  margin: 0;
  padding: 0;
  min-width: 500px;
  max-width: 1200px;
  font-family: 'Arial';
  font-size: 10pt;
}

fieldset {
  border-color: #000;
  border-width: 1px;
  border-style: solid;
  padding: 10px;
  margin: 0 10px 10px 0;
  float: left;
}

legend {
  font-family: 'Arial Rounded MT Bold';
	font-size: 125%; 
}

label { 
  font-family: 'Arial Narrow';
  text-align: right; 
	display: block;
	float: left; 
	width: 7em; 
	padding: 0; 
	margin: .25em .5em .25em 0;
}

input, select {
  font-family: 'Courier New';
	width: 0em;
	margin: .5em 0 0 0;
}

form br {
	clear:left;
}

button {
  font-size: .66em;
  padding: .12em;
}

div.column{
    float: left;
    margin-right: 10px;
}

h1 {
    clear: both;
}

input.name, select.name {
  width: 20em;
}

input.city, select.city {
  width: 12em;
}

input.state, select.state {
  width: 3em;
}

input.zip, select.zip {
  width: 4em;
}

input.phone, select.phone {
  width: 9em;
}

input.ssWidth, select.ssWidth {
  width: 3em;
}

input.sWidth, select.sWidth {
  width: 6em;
}
input.mWidth, select.mWidth {
  width: 12em;
}

input.lWidth, select.lWidth {
   width: 25em;
}